@charset "utf-8";

main {
  margin-block-start: 2rem;
}
main section.carousel-section {
  margin-block-end: 2rem;
  padding-inline-start: 2rem;
}
main section.carousel-section h3 {
  margin-block-end: 1rem;
  text-transform: uppercase;
  color: var(--white);
}
main section.carousel-section .carousel .carousel__container {
  position: relative;
}
main section.carousel-section .carousel .carousel__previous,
main section.carousel-section .carousel .carousel__next {
  display: none;
}
main section.carousel-section .carousel .carousel__list .carousel__item {
  margin-inline-end: 1rem;
}
main section.carousel-section .carousel .carousel__list .carousel__item img {
  width: 100%;
  border-radius: 1rem;
}

/******************/
/* TABLET VERSION */
/******************/

@media(min-width: 768px) {
  main {
    margin-block-start: 4rem;
  }
  main section.carousel-section {
    margin-block-end: 4rem;
  }
  main section.carousel-section .carousel .carousel__previous,
  main section.carousel-section .carousel .carousel__next {
    position: absolute;
    top: calc(50% - 1.5rem);
    display: block;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: var(--white);
    border: none;
    border-radius: 100%;
    opacity: 0.5;
    z-index: 1;
    transition: 0.2s ease;
  }
  main section.carousel-section .carousel .carousel__previous:hover,
  main section.carousel-section .carousel .carousel__next:hover {
    opacity: 1;
  }
  main section.carousel-section .carousel .carousel__previous {
    left: 0.5rem;
  }
  main section.carousel-section .carousel .carousel__next  {
    right: 2.5rem;
  }
  main section.carousel-section .carousel .carousel__previous span,
  main section.carousel-section .carousel .carousel__next span {
    display: block;
    font-size: 2rem;
    color: var(--black);
  }
  main section.carousel-section .carousel .carousel__list .carousel__item {
    margin-inline-end: 1.5rem;
  }


}