#cookies-banner
  p La política de cookies es un texto legal en el que una página una página informa al usuario sobre el tipo de cookies que usa y con qué finalidad. Es uno de los principales textos RGPD junto con el 
    a(href="#") link aviso legal y la política de privacidad.
  .buttons
    button#cookiesAccepted Aceptar
    button#cookiesDeclined Rechazar