footer
  article
    h3 Redes
    a(href="https://www.facebook.com/ModernEspaiGospelCor") Facebook
    a(href="https://www.instagram.com/modernespaigospelcor") Instagram 
  
  article
    h3 Contacto
    a(href="mailto:contacto@megoc.es") contacto@megoc.es 
    a(href="tel:#") 627 12 3456
  
  article
    h3 Info
    a(href="#") Info legal 