nav
  #logo: a(href="index.html"): img(src="../img/logo_sm.png", alt="logo")
  
  #nav-buttons
    #hamburger 
      .line
      .line
      .line
  
menu#menu
  ul
    li: a(href="index.html") Quiénes somos
    li: a(href="te-gusta-cantar.html") ¿Te gusta cantar?
    li: a(href="galeria.html") Galería
    li: a(href="proximas-actuaciones.html") Próximas actuaciones
    li: a(href="contacto.html") Contacto
    
  #menu-buttons
    #lang-social-buttons
      #languages
        a(href="ca/index.html") CA
        .separator
        a(href="en/index.html") EN

      #social-media
        a(href="http://www.facebook.com/ModernEspaiGospelCor"): span.fa-brands.fa-square-facebook
        a(href="http://www.instagram.com/modernespaigospelcor"): span.fa-brands.fa-square-instagram
